@model TestimonialAddDto
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Tavsiye Yönetimi /</span> Tavsiye Ekle
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"></h5>
                <form asp-controller="Testimonial" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="LinkId">Link</label>

                            <a class="btn text-primary float-end" data-bs-toggle="modal" data-bs-target="#linkModalCenter">
                                Link Ekle <i class="bx bx-plus"></i>
                            </a>

                            <select id="categoryList" class="form-control" asp-for="LinkId" asp-items="@(new SelectList(Model.Links,"Id","Name"))"></select>
                            <span asp-validation-for="LinkId" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Title" id="Title" class="form-label">Başlık</label>
                            <input asp-for="Title" type="text" class="form-control mb-3" id="Title" placeholder="Lütfen başlık giriniz." aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="margin-top:20px">
                            <label asp-for="Photo" class="control-label"></label>
                            <input asp-for="Photo" type="file" class="form-control-file" accept=".jpg,.jpeg,.png">
                        </div>

                        <div class="form-group" style="margin-top:20px">
                            <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="linkModalCenter" tabindex="-1" role="dialog" aria-labelledby="linkModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Link Ekleme</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="d-block form-label">Name</label>
                        <input class="form-control" type="text" id="Name" />
                    </div>
                    <div class="form-group">
                        <label class="d-block form-label">Url</label>
                        <input class="form-control" type="text" id="Url" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" data-keyboard="false" class="btn btn-primary" id="linkSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script src="~/js/linkAdd.js"></script>
    <script src="~/js/remember.js"></script>


    <script>
        var app = app || {};
        app.Urls = app.Urls || {};

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.linkAddUrl = "@(Url.Action("AddWithAjax", "Link"))";


    </script>

}