@using NET6.Entity.DTOs.Categories;
@model List<CategoryDto>

<ul>
    @foreach (var category in Model)
    {
        <li class="cat-item"><a asp-controller="Article" asp-action="Index" asp-route-categoryId="@category.Id">- @category.Name</a></li>
    }
</ul>


