@using NET6.Entity.DTOs.Abouts;
@model List<AboutDto>

@foreach (var about in Model)
{

    <div class="home-logo">

        <p class="home-job-title">@about.Job</p>

        <p class="home-marquee">
           @about.Content
        </p>

        <i class="home-logo-left "><span>Full Stack</span></i>
        <i class="home-logo-center">
            <span class="home-icon">
                <img src="~/PlainHtml/images/home/icon3.svg" alt="icon" />
            </span>
            <span class="home-text-container">
                <span class="home-text-container-placeholder">@about.Title</span>
            </span>
            <span class="home-text">@about.Title</span>
        </i>
        <i class="home-logo-right"><span>Developer</span></i>

    </div>
}
<!-- .home-logo -->