@model AboutAddDto
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Hakkında Yönetimi /</span> Hakkında Ekle
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"></h5>
                <form asp-controller="About" asp-action="Add" method="post" enctype="multipart/form-data">

                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="form-group" style="margin-top:5px;">
                            <label asp-for="SeoId">Seo</label>

                            <a class="btn text-primary float-end" data-bs-toggle="modal" data-bs-target="#seoModalCenter">
                               Seo Ekle <i class="bx bx-plus"></i>
                            </a>

                            <select id="seoList" class="form-control" asp-for="SeoId" asp-items="@(new SelectList(Model.Seos,"Id", "Description", "Keywords"))"></select>                           
                            <span asp-validation-for="SeoId" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Title" id="defaultFormControlInput" class="form-label">Ad ve Soyad</label>
                            <input asp-for="Title" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Ad ve soyad giriniz." aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Job" class="form-label">İş Bilgisi</label>
                            <textarea asp-for="Job" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Lütfen iş bilgisi giriniz." aria-describedby="defaultFormControlHelp" ></textarea>
                            <span asp-validation-for="Job" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content" class="form-label">İçerik</label>
                            <textarea asp-for="Content" type="text" class="editor" id="defaultFormControlInput" placeholder="Lütfen içerik giriniz." aria-describedby="defaultFormControlHelp"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-top:20px">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                            <label asp-for="Photo" class="form-label">Başlık için resim seçiniz</label><br />
                            <input asp-for="Photo" type="file" class="form-control-file" accept=".jpg,.jpeg,.png,.g">
                        </div>



                        <div class="form-group" style="margin-top:20px">
                            <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="seoModalCenter" tabindex="-1" role="dialog" aria-labelledby="seoModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seo Ekleme</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="d-block form-label">Seo Author</label>
                        <input class="form-control" type="text" id="seoAuthor" />
                    </div>  
                    <div class="form-group">
                        <label class="d-block form-label">Seo Description</label>
                        <input class="form-control" type="text" id="seoDescription" />
                    </div>  
                    <div class="form-group">
                        <label class="d-block form-label">Seo Keywords</label>
                        <input class="form-control" type="text" id="seoKeywords" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" data-keyboard="false" class="btn btn-primary" id="seoSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>

                                                                                                      

@section Scripts
    {
            <script>
                CKEDITOR.replace('editor');
            </script>

            <script src="~/js/seoAdd.js"></script>

        <script>
            var app = app || {};
            app.Urls = app.Urls || {};

            app.Urls.baseUrl = '@Url.Content("~")';
            app.Urls.seoAddUrl = "@(Url.Action("AddWithAjax", "Seo"))";
                app.Urls.aboutAddUrl = "@(Url.Action("Index", "About"))";
        </script>
}



