<!DOCTYPE html>

@await Component.InvokeAsync("HtmlHead")

<body>
    <!-- .home-wrap -->
    <div class="home-wrap">


        <!-- HOME BG IMAGE -->
        @RenderBody()        <!-- HOME BG LOGO -->
        <!-- .home-menu -->

        <!-- .home-menu -->
        <!-- .home-heading -->
        <div class="home-heading">

            <!-- .home-logo -->
            @await Component.InvokeAsync("Header")


        </div>
        <!-- .home-heading -->
        <!-- .home-social -->
        <p class="home-social">
            <a class="social-link facebook" href="#"></a>
            <a class="social-link linkedin" href="#"></a>
            <a class="social-link behance" href="#"></a>
            <a class="social-link dribbble" href="#"></a>
        </p>
        <!-- .home-social -->
        <!-- FULL SCREEN TOGGLE -->
        <div class="full-screen-wrap">
            <div class="top-left"></div>
            <div class="top-left-horiz"></div>
            <div class="top-right"></div>
            <div class="top-right-horiz"></div>
            <div class="bottom-left"></div>
            <div class="bottom-left-horiz"></div>
            <div class="bottom-right"></div>
            <div class="bottom-right-horiz"></div>
        </div>
        <!-- FULL SCREEN TOGGLE -->
        <!-- REMOVE THIS MARKUP TO DISABLE BG AUDIO -->



    </div>
    <!-- .home-wrap -->
    <!-- .one-page-content-->
    <div class="one-page-content">

        <a href="/" class="close-page">
            <span class="close-text"></span>
        </a>

        <div class="content-wrap"></div>

    </div>
    <!-- .one-page-content-->
    <!-- page transition overlays -->
    <div class="overlay overlay-1"></div>
    <div class="overlay overlay-2"></div>
    <!-- page transition overlays -->
    <!-- PORTFOLIO SINGLE AJAX CONTENT CONTAINER -->
    <div class="p-overlay"></div>
    <div class="p-overlay"></div>



    @await Component.InvokeAsync("Script")


</body>
</html>