@using NET6.Entity.DTOs.Skills
@model SkillListDto

@foreach (var skill in Model.Skills)
{
    @if (skill.Category.Name == "Coding")
    {
        <div class="skill-unit">
            <h4>@skill.Title</h4>
            <div class="bar" data-percent="@skill.Percent">
                <div class="progress" style="width: @skill.Percent%;">
                    <span>@skill.Percent</span>
                </div>
            </div>
        </div>
    }
}
