@using NET6.Entity.DTOs.Skills;
@model SkillListDto

@foreach (var skill in Model.Skills)
{

    <div class="skill-unit">
        <h4>@skill.Title</h4>
        <div class="bar" data-percent="@skill.Percent">
            <div class="progress"></div>
        </div>
    </div>
}