@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js classic-page-layout " data-audio-tick="~/PlainHtml/audio/tick.mp3" data-click-ripple-animation="yes">
<head>
    @await Component.InvokeAsync("HtmlHead")

</head>



<body>

    <!-- PAGE -->
    <div id="page" class="hfeed site">

        <!-- .site-main -->
        <main id="main" class="site-main cd-main">

            <!-- HEADER -->
            <header id="masthead" class="header" role="banner">
                <div class="header-wrap layout-full">

                    <img src="images/article-images/blog.jpg" alt="profile-image">
                    <div class="home-heading">
                        @await Component.InvokeAsync("Header")

                        <!-- HOME BG LOGO -->
                        <div class="home-bg-logo">
                            <img src="~/PlainHtml/images/home/icon-bg2.svg" alt="icon" />
                        </div>
                        <!-- HOME BG LOGO -->
                    </div>
                </div>
            </header>
            <!-- HEADER -->
            <!-- site-middle -->
            <div class="site-middle">

                <div class="layout-medium">
                    <div id="primary" class="content-area">

                        <!-- site-content -->
                        <div id="content" class="site-content" role="main">
                            <!-- .page-single -->
                            <div class="page-single page-layout">


                                <!-- .hentry -->
                                <article class="page hentry">

                                    <!-- .entry-header -->
                                    <header class="entry-header">
                                        <h1 class="entry-title">About Me</h1>
                                    </header>
                                    <!-- .entry-header -->
                                    <!-- .entry-content -->
                                    <div class="entry-content">

                                        <div class="boxed is-dark">
                                            <div class="row">

                                                <div class="col-sm-3">
                                                    <img src="~/PlainHtml/images/site/about.jpg" alt="about image">
                                                </div>

                                                <div class="col-sm-9">

                                                    <h2 class="fw-300">
                                                        Hello, I am Jason Whallberg, a <strong>
                                                            graphic
                                                            designer
                                                        </strong> based in LA.
                                                        I can design beautiful <strong>type faces</strong> and
                                                        <strong>
                                                            user
                                                            interfaces
                                                        </strong> for both digital and print
                                                        media and I love coffee.
                                                    </h2>

                                                </div>

                                            </div>
                                        </div>


                                        <!-- SERVICES -->
                                        <!-- section-title -->
                                        <div class="section-title center">
                                            <h2>
                                                <i>services</i>
                                            </h2>
                                        </div>
                                        <!-- section-title -->
                                        <!-- row -->
                                        <div class="row">

                                            <!-- col -->
                                            @await Component.InvokeAsync("Service")

                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                        <!-- SERVICES -->
                                        <!-- PROCESS -->
                                        <!-- section-title -->
                                        <div class="section-title center">
                                            <h2>
                                                <i>work procces</i>
                                            </h2>
                                        </div>
                                        <!-- section-title -->
                                        <!-- row -->
                                        <div class="row">

                                            <!-- col -->
                                            <div class="col-xs-4 col-sm-2">

                                                <!-- process -->
                                                <div class="process">
                                                    <img src="~/PlainHtml/images/site/process-01.svg" alt="image" />
                                                    <h4>Research</h4>
                                                </div>
                                                <!-- process -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-4 col-sm-2">

                                                <!-- process -->
                                                <div class="process">
                                                    <img src="~/PlainHtml/images/site/process-02.svg" alt="image" />
                                                    <h4>IDEA</h4>
                                                </div>
                                                <!-- process -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-4 col-sm-2">

                                                <!-- process -->
                                                <div class="process">
                                                    <img src="~/PlainHtml/images/site/process-03.svg" alt="image" />
                                                    <h4>DESIGN</h4>
                                                </div>
                                                <!-- process -->

                                            </div>

                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-4 col-sm-2">

                                                <!-- process -->
                                                <div class="process">
                                                    <img src="~/PlainHtml/images/site/process-04.svg" alt="image" />
                                                    <h4>DEVELOP</h4>
                                                </div>
                                                <!-- process -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-4 col-sm-2">

                                                <!-- process -->
                                                <div class="process">
                                                    <img src="~/PlainHtml/images/site/process-05.svg" alt="image" />
                                                    <h4>TEST</h4>
                                                </div>
                                                <!-- process -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-4 col-sm-2">

                                                <!-- process -->
                                                <div class="process">
                                                    <img src="~/PlainHtml/images/site/process-06.svg" alt="image" />
                                                    <h4>LAUNCH</h4>
                                                </div>
                                                <!-- process -->

                                            </div>
                                            <!-- col -->

                                        </div>
                                        <!-- row -->
                                        <!-- PROCESS -->
                                        <!-- CLIENTS -->
                                        <!-- section-title -->
                                        <div class="section-title center">
                                            <h2>
                                                <i>Proud to work with</i>
                                            </h2>
                                        </div>
                                        <!-- section-title -->
                                        <!-- row -->
                                        <div class="row">

                                            <!-- col -->
                                            @await Component.InvokeAsync("Testimonial")

                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                        <!-- CLIENTS -->
                                        <!-- FUN FACT -->
                                        <!-- section-title -->

                                        <div class="section-title center">
                                            <h2>
                                                <i>fun fact</i>
                                            </h2>
                                        </div>
                                        <!-- section-title -->
                                        <!-- row -->
                                        <div class="row">

                                            <!-- col -->
                                            <div class="col-xs-6 col-sm-3">

                                                <!-- fun-fact -->
                                                <div class="fun-fact">
                                                    <img src="~/PlainHtml/images/site/fun-01.svg" alt="fun fact">
                                                    <h4>24 Projects Completed</h4>
                                                </div>
                                                <!-- fun-fact -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-6 col-sm-3">

                                                <!-- fun-fact -->
                                                <div class="fun-fact">
                                                    <img src="~/PlainHtml/images/site/fun-02.svg" alt="fun fact">
                                                    <h4>7 Books Published</h4>
                                                </div>
                                                <!-- fun-fact -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-6 col-sm-3">

                                                <!-- fun-fact -->
                                                <div class="fun-fact">
                                                    <img src="~/PlainHtml/images/site/fun-03.svg" alt="fun fact">
                                                    <h4>3500 Photos Taken</h4>
                                                </div>
                                                <!-- fun-fact -->

                                            </div>
                                            <!-- col -->
                                            <!-- col -->
                                            <div class="col-xs-6 col-sm-3">

                                                <!-- fun-fact -->
                                                <div class="fun-fact">
                                                    <img src="~/PlainHtml/images/site/fun-04.svg" alt="fun fact">
                                                    <h4>12 Design Awards Won</h4>
                                                </div>
                                                <!-- fun-fact -->

                                            </div>
                                            <!-- col -->

                                        </div>
                                        <!-- row -->
                                        <!-- FUN FACT -->

                                    </div>
                                    <!-- .entry-content -->

                                </article>
                                <!-- .hentry -->

                            </div>
                            <!-- .page-single -->


                        </div>
                        <!-- site-content -->

                    </div>
                    <!-- primary -->

                </div>
                <!-- layout -->

            </div>
            <!-- site-middle -->
            <!-- .site-footer -->
            <footer id="colophon" class="site-footer" role="contentinfo">

                <!-- .site-info -->
                <div class="site-info">
                    <div class="textwidget">
                        <p><a href="http://pixelwars.org/">Copyright &copy; 2017 by Pixelwars</a></p>
                    </div>
                </div>
                <!-- .site-info -->

            </footer>
            <!-- .site-footer -->

        </main>
        <!-- .site-main -->
        <!-- ALERT : used for contact form mail delivery alert -->
        <div class="site-alert animated"></div>

    </div>
    <!-- PAGE -->

    <a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>

    @await Component.InvokeAsync("Script")



</body>
</html>