@{
    Layout = "_LayoutAbout";
}
@model List<AboutDto>

@foreach (var item in Model){

<div class="col-sm-3">
        <img src="/images/@item.Image.FileName" alt="about image">
</div>

<div class="col-sm-9">

    <h2 class="fw-300">
       @Html.Raw(@item.Content)
    </h2>

</div>}